/Promedio/nbproject/private/
/Promedio/build/
/Tacos/nbproject/private/
/Tacos/build/
/Castear/nbproject/private/
/NumeroAleaterio/nbproject/private/
/NumeroAleaterio/build/
/A/nbproject/private/
/A/build/
/eJERCICIO2/nbproject/private/
/Ejercicio02/nbproject/private/
/Ejercicio02/build/
/Ejercicio01/nbproject/private/
/Ejercicio01/build/
/Ejercici03/nbproject/private/
/Ejercici03/build/
/Ejercicio04/nbproject/private/
/Ejercicio04/build/
/Ejercicio05/nbproject/private/
/Ejercicio05/build/
/Ejercicio6/nbproject/private/
/Ejercicio6/build/
/AK/nbproject/private/
/AK/build/
/JavaApplication28/nbproject/private/
/JavaApplication28/build/
/aaaaa/nbproject/private/
/carro/nbproject/private/
/carro/build/
/Taza/nbproject/private/
/Taza/build/
/Reproductor/nbproject/private/
/Disco/nbproject/private/
/MateriasUniversidad/nbproject/private/
/MateriasUniversidad/build/
/GranBodega/nbproject/private/
/Tienda/nbproject/private/
/Tienda/build/
/JavaApplication37/nbproject/private/
/joption/nbproject/private/
/joption/build/
/Cine/nbproject/private/
/Cinee/nbproject/private/
/Cinne/nbproject/private/
/Cinne/build/
/CineBienHechoXd/nbproject/private/
/CineFinal/nbproject/private/
/CineFinal/build/
/ClienteCoche/nbproject/private/
/Usuario/nbproject/private/
/Usuario/build/